.chicken_div {
	background-color: green;
	color: #ffffff;
}
.dropdow-bg {

	color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: navy;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff !important;
	background-color: black;
}

.navbar-bg {
	background-color: aqua;
	padding: 10px 15px;
}